.padding-16 { padding:16px 16px 16px 16px!important }
.vertical-padding-8 { padding:8px 0px 8px 0px!important }

.mainContent-padding {
  	padding:4px 8px 32px 24px!important
}

.bold-link a {
   font-weight:bold;
}

.contact-icon {
  	width:40px!important;
}

.pdf-icon {
  	width:16px!important;
    vertical-align:top;
}

.cv-info {
  	line-height:100%;
}

@media screen and
(max-width : 600px) {
    .left-padding-80 { padding:0px 0px 0px 0px!important }
    .scale-link { font-size: calc(10px + 1.0vw); }
    ul { padding-left:16px; }
    .cv-date { width:75px!important; line-height:100%; }
    .cv-table-padding td { padding:8px 0px 8px 0px;!important }
}

@media screen and
(min-width : 601px) {
    .left-padding-80 { padding:0px 0px 0px 80px!important }
    .scale-link { font-size: calc(10px + 0.4vw); }
    .cv-date { width:150px!important; }
    .cv-table-padding td { padding:8px 8px 8px 8px;!important }
}

img { width:100%; }

a { text-decoration:none; }

h1, h2, h3 { color:#800000;
            border-bottom:1px #888888 solid; 
            padding-bottom:4px;
            padding-top:4px;
            }

div, nav,h1, h2, h3, h4, h5, h6, p, a, ol, ul, li, table, tr, th, td {
	vertical-align: baseline;;
}

#sideNavDiv img {
	display:block;
    margin:auto;
    width:40px;
}

#middleContentDiv a:link { color:#326ea1; }
#middleContentDiv a:visited { color:#326ea1; }
#middleContentDiv a:active  { color:#326ea1;}
#middleContentDiv a:hover { color: #B2B2B2; }

#rightContentDiv a { color:#800000; }
#rightContentDiv a:hover { text-decoration:underline; }
#rightContentDiv img { padding:0px 8px 0px 0px; }

#research a:link { color:#326ea1 }
#research a:visited { color:#326ea1 }
#research a:active { color:#326ea1 }
#research a:hover { color:#000000; text-decoration:underline; }

#footerDiv a:hover	{ text-decoration:underline; }