.w3-camo-brown
{color:#fff;background-color:#594d45}

.w3-camo-red
{color:#fff;background-color:#79533d}

.w3-camo-olive
{color:#fff;background-color:#595142}

.w3-camo-field
{color:#fff;background-color:#745d46}

.w3-camo-earth
{color:#fff;background-color:#ac7e54}

.w3-camo-sand
{color:#fff;background-color:#a9947b}

.w3-camo-tan
{color:#fff;background-color:#b49d80}

.w3-camo-sandstone
{color:#fff;background-color:#bcab90}

.w3-camo-dark-green
{color:#fff;background-color:#535640}

.w3-camo-forest
{color:#fff;background-color:#54504b}

.w3-camo-light-green
{color:#fff;background-color:#63613e}

.w3-camo-green
{color:#fff;background-color:#4a5444}

.w3-camo-dark-gray,.w3-camo-dark-grey
{color:#fff;background-color:#5c5c5b}

.w3-camo-gray,.w3-camo-grey
{color:#fff;background-color:#CED0CA}

.w3-camo-black
{color:#fff;background-color:#8E8E90}


