<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="images/favicon.ico">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta name="author" content="Firstname Lastname">
<meta name="robots" content="INDEX,FOLLOW" />
<meta name="keywords" content="Firstname Lastname, Firstname,  Lastname, Finance, Economics, Ph.D. Student, PhD Student, JMP, Job Market Paper, University of Chicago, UChicago, U of C, UofC, Chicago Booth, Booth, website, homepage, home page" />
<meta name="description" content="Firstname Lastname - PhD Candidate at the University of Chicago Booth School of Business" />
<meta name="google-site-verification" content="MDcqaXTCKUchHsKh1eGUQsDaBpyrfFmsHSwHyFwJpDA" />