<nav class="w3-sidenav w3-collapse w3-light-gray w3-animate-left w3-large" style="z-index:3; width:240px;" id="mySidenav">
  	<a href="https://www.chicagobooth.edu" class="w3-border-bottom w3-center padding-16"> 
  		<img src="images/booth.png" alt="Chicago Booth" id="logo_hover_head" style="width:100%;"/> 
  	</a>
  	<a href="javascript:void(0)" onclick="w3_close()" class="w3-border-bottom w3-hide-large w3-closenav padding-16">Close ×</a>
	<a href="index.html" class="w3-border-bottom padding-16">HOME</a>
	<a href="cv.html" class="w3-border-bottom padding-16">CV</a>
	<a href="research.html" class="w3-border-bottom padding-16">RESEARCH</a>
	<!--
	<a href="teaching.html" class="w3-border-bottom padding-16"> TEACHING</a>
	<a href="references.html" class="w3-border-bottom padding-16">REFERENCES</a>
	<a href="resources.html" class="w3-border-bottom padding-16">RESOURCES</a>
	-->
	<!--
	<table class="w3-table w3-border-bottom">
		<tr>
		<th><a class="vertical-padding-8" href="https://bitbucket.org/link">
			<img src="images/icon/bitbucket.png" align="center"/>
		</a></th>
		<th><a class="vertical-padding-8" href="http://www.quora.com/link">
			<img src="images/icon/quora.png" align="center"/>
		</a></th>
		<th><a class="vertical-padding-8" href="https://twitter.com/link">
			<img src="images/icon/twitter.png" align="center"/>
		</a></th>
		</tr>
	</table>
	-->
</nav>