<div id="myOverlay" class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer"></div>

<div id="topBar" class="w3-top w3-container w3-padding-8 w3-camo-black w3-large w3-hide-large">
	<i class="fa fa-bars w3-opennav w3-xlarge w3-margin-left w3-margin-right" onclick="w3_open()"></i>
</div>

<header id="header" class="w3-container w3-camo-black" style="z-index:5;">
	<div class="w3-row" style="padding:36px 0px 32px 64px;">
		<div id="headerText">
			<a href="index.html" style="font-size: calc(16px + 1.4vw)">Firstname Lastname</a>
			<br>
			<a href="index.html" style="font-size: calc(6px + 1.0vw)">PhD Candidate in Economics</a>
		</div>
	</div>
</header>